body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.imglogo{
    width: 200px;
}

h1 {
    color: #d40050;
    font-size: 2em;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f7f7f7;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
}

th {
    font-weight: bold;
    color: #333;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

.delete-btn, .edit-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px;
    transition: color 0.3s ease;
}

.delete-btn {
    color: #ff4d4d;
}

.delete-btn:hover {
    color: #d40000;
}

.edit-btn {
    color: #4d94ff;
    margin-left: 8px;
}

.edit-btn:hover {
    color: #0066cc;
}

@media (max-width: 600px) {
    .container {
        padding: 100px;
    }
    
    th, td {
        padding: 10px;
        font-size: 0.9em;
    }

    h1 {
        font-size: 1.5em;
    }
}
